---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
import { v2 as cloudinary } from 'cloudinary';

cloudinary.config({
    cloud_name: import.meta.env.CLOUDINARY_CLOUD_NAME,
    api_key: import.meta.env.CLOUDINARY_API_KEY,
    api_secret: import.meta.env.CLOUDINARY_API_SECRET,
});

let images = [];
try {
    const result = await cloudinary.search
        .expression('folder:film/*')
        .sort_by('public_id', 'desc')  // or 'asc' for oldest first
        .execute();

    images = result.resources;
} catch (error) {
    console.error('Error fetching images:', error);
}


function getOptimizedCloudinaryUrl(publicId) {
  const cloudName = import.meta.env.CLOUDINARY_CLOUD_NAME;
  return `https://res.cloudinary.com/${cloudName}/image/upload/c_scale,h_800/q_auto:low/f_auto/v1/${publicId}`;
}
function getFullResCloudinaryUrl(publicId) {
    const cloudName = import.meta.env.CLOUDINARY_CLOUD_NAME;
    return `https://res.cloudinary.com/${cloudName}/image/upload/q_auto:best/f_auto/v1/${publicId}`;
}
---

<Layout title="Film">
    <section
        x-data={`{
                showModal: false,
                currentIdx: 0,
                loadedImages: new Set(),
                imageUrls: ${JSON.stringify(images.map(img => getFullResCloudinaryUrl(img.public_id)))},
                imageResolutions: ${JSON.stringify(images.map(img => `${img.width}×${img.height}`))},
                init() {
                    this.$watch('showModal', (value) => {
                        if (!value) {
                            // Scroll to current image thumbnail when modal closes
                            setTimeout(() => {
                                const thumbnail = document.querySelector(\`[data-image-index="\${this.currentIdx}"]\`);
                                if (thumbnail) {
                                    thumbnail.scrollIntoView({ behavior: 'instant', block: 'center' });
                                }
                            }, 100);
                        }
                    });
                },
                goToPrev() {
                    this.currentIdx = this.currentIdx === 0 ? ${images.length - 1} : this.currentIdx - 1;
                    this.preloadAdjacent();
                },
                goToNext() {
                    this.currentIdx = (this.currentIdx + 1) % ${images.length};
                    this.preloadAdjacent();
                },
                preloadAdjacent() {
                    const prevIdx = this.currentIdx === 0 ? ${images.length - 1} : this.currentIdx - 1;
                    const nextIdx = (this.currentIdx + 1) % ${images.length};

                    [this.currentIdx, prevIdx, nextIdx].forEach(idx => {
                        if (!this.loadedImages.has(idx)) {
                            const img = new Image();
                            img.onload = () => this.loadedImages.add(idx);
                            img.src = this.imageUrls[idx];
                        }
                    });
                }
            }`}
    >
        <img
            src={getOptimizedCloudinaryUrl(images.find((image) => image.public_id.includes('000521640015'))?.public_id)}
            width="600"
            alt=""
            class="absolute top-0 -z-10 h-[100svh] w-full object-cover"
        />
        <div
            class="flex min-h-[100svh] flex-col items-center justify-center bg-black/80 px-4 backdrop-blur"
        >
            <h1 class="text-center text-xl font-bold" style="text-wrap: balance;">Every single moment I've captured on film</h1>
            <h2 class="font-medium">
                <a
                    href="https://instagram.com/mediocre_exposures"
                    target="_blank"
                    class="hover:text-red-500"
                >
                    @mediocre_exposures
                </a>
            </h2>
        </div>
        <div
            class="grid grid-flow-dense grid-cols-2 place-items-center gap-2 p-2 sm:grid-cols-3 sm:gap-4 sm:p-4 md:grid-cols-4 md:gap-8 md:p-8 lg:p-16 2xl:grid-cols-5 2xl:gap-16"
        >
            {images.map((image, i) => {
                const optimizedUrl = getOptimizedCloudinaryUrl(image.public_id);

                return (
                    <button
                        x-data="{ shown: false }"
                        x-intersect.once.threshold.50="shown = true"
                        @click={`currentIdx = ${i}; showModal = true; preloadAdjacent();`}
                        data-image-index={i}
                        class="relative h-full w-full overflow-clip rounded outline-none ring-0 ring-offset-black transition-all duration-500 ease-out focus-visible:scale-105 focus-visible:rounded-3xl focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-2 xl:hover:scale-105 xl:hover:rounded-3xl"
                        class:list={[{'col-span-2': image.width > image.height}]}
                        style={`aspect-ratio: ${image.width}/${image.height}`}
                    >
                        <img
                            src={optimizedUrl}
                            alt={image.public_id}
                            class="h-full w-full object-cover text-black transition-all duration-700"
                            :class="shown ? 'opacity-100 translate-y-0' : 'opacity-0 translate-y-1'"
                            loading="lazy"
                        />
                        <div class="sr-only absolute inset-0 grid place-items-center bg-black/50 p-4 text-xs text-white">
                            <span class="break-all">{image.public_id}</span>
                        </div>
                    </button>
                );
            })}
        </div>
        <div
            class="fixed inset-0 z-10 flex flex-col items-center justify-center overflow-hidden bg-black p-8 pb-16"
            x-data="swiper()"
            x-show="showModal"
            x-transition.opacity.duration.500ms
            x-trap.noscroll="showModal"
            @click="showModal = false"
            @keyup.window.esc="showModal = false"
            @keyup.window.left.prevent="goToPrev()"
            @keyup.window.right.prevent="goToNext()"
            x-bind="swipeable"
            @swipe-right="goToPrev()"
            @swipe-left="goToNext()"
            x-cloak
        >
            <span
                class="absolute m-auto"
                x-show="!loadedImages.has(currentIdx)"
                x-transition:enter="transition-opacity delay-500"
                x-transition:enter-start="opacity-0"
                x-transition:enter-end="opacity-100"
            >
                <div class="animate-pulse px-4 text-center">
                    <div>loading full resolution image</div>
                    <div class="text-sm opacity-75" x-text="imageResolutions[currentIdx]"></div>
                </div>
            </span>

            <div class="relative flex h-full w-full items-center justify-center">
                {images.map((image, i) => (
                    <img
                    :src={`loadedImages.has(${i}) ? '${getFullResCloudinaryUrl(image.public_id)}' : ''`}
                    :alt={`loadedImages.has(${i}) ? '${image.public_id}' : ''`}
                        class="absolute max-h-full w-auto object-contain transition-all duration-300 ease-out"
                        :class={`currentIdx == ${i} ? 'opacity-100 z-10' : 'opacity-0 z-0'`}
                        @click.stop
                        loading="lazy"
                    />
                ))}
            </div>

            <button
                aria-label="close full resolution preview"
                type="button"
                class="absolute right-2 top-2 h-16 w-16 rounded-2xl text-white outline-none ring-0 ring-white transition hover:bg-white/10 focus-visible:ring-2 lg:right-8 lg:top-8"
            >
                ✕
            </button>

            <div class="absolute bottom-2 grid grid-cols-2 gap-4">
                <button
                    type="button"
                    @click.stop="goToPrev()"
                    class="flex items-center justify-center rounded-2xl p-2 pr-4 text-white outline-none ring-0 ring-white transition hover:bg-white/10 focus-visible:ring-2"
                >
                    <Icon name="ic:round-arrow-left" class="h-8 text-2xl transition-transform group-hover:translate-x-1" /> previous
                </button>
                <button
                    type="button"
                    @click.stop="goToNext()"
                    class="flex items-center justify-center rounded-2xl p-2 pl-4 text-white outline-none ring-0 ring-white transition hover:bg-white/10 focus-visible:ring-2"
                >
                    next <Icon name="ic:round-arrow-right" class="h-8 text-2xl transition-transform group-hover:translate-x-1" />
                </button>
            </div>
        </div>

    </section>
</Layout>

<script>
    import Alpine from 'alpinejs'

    Alpine.data('swiper', () => ({
        touchstartX: 0,
        touchendX: 0,
        isMultiTouch: false,

        checkDirection() {
            if (!this.isMultiTouch && Math.abs(this.touchendX - this.touchstartX) > 50) {
                if (this.touchendX < this.touchstartX) this.$dispatch('swipe-left')
                if (this.touchendX > this.touchstartX) this.$dispatch('swipe-right')
            }
        },

        swipeable: {
            ['@touchstart.passive'](e) {
                this.isMultiTouch = e.touches.length > 1
                if (!this.isMultiTouch) {
                    this.touchstartX = e.changedTouches[0].screenX
                }
            },
            ['@touchend.passive'](e) {
                if (!this.isMultiTouch && e.changedTouches.length === 1) {
                    this.touchendX = e.changedTouches[0].screenX
                    this.checkDirection()
                }
            },
        },
    }))
</script>
