---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
import { v2 as cloudinary } from 'cloudinary';

cloudinary.config({
    cloud_name: import.meta.env.CLOUDINARY_CLOUD_NAME,
    api_key: import.meta.env.CLOUDINARY_API_KEY,
    api_secret: import.meta.env.CLOUDINARY_API_SECRET,
});

let images = [];
try {
    const result = await cloudinary.search
        .expression('resource_type:image')
        .sort_by('public_id', 'desc')  // or 'asc' for oldest first
        .max_results(500)
        .execute();

    images = result.resources;
} catch (error) {
    console.error('Error fetching images:', error);
}
const fullResImgLoaded = new Array(images.length).fill(false);

function getOptimizedCloudinaryUrl(publicId) {
  const cloudName = import.meta.env.CLOUDINARY_CLOUD_NAME;
  return `https://res.cloudinary.com/${cloudName}/image/upload/c_scale,h_800/q_auto:low/f_auto/v1/${publicId}`;
}
function getFullResCloudinaryUrl(publicId) {
    const cloudName = import.meta.env.CLOUDINARY_CLOUD_NAME;
    return `https://res.cloudinary.com/${cloudName}/image/upload/q_auto:best/f_auto/v1/${publicId}`;
}
---

<Layout title="Film">
    <section
        x-data={`{
                showFullResImage: false,
                fullResImgIdx: 0,
                fullResImgLoaded: ${JSON.stringify(fullResImgLoaded)},
                prevImg() { this.fullResImgIdx = this.fullResImgIdx === 0 ? ${images.length - 1} : this.fullResImgIdx - 1; },
                nextImg() { this.fullResImgIdx = (this.fullResImgIdx + 1) % ${images.length}; },
                handleLoad(idx) { setTimeout(() => { fullResImgLoaded[idx] = true; }, 2000); }
            }`}
    >
        <img
            src={getOptimizedCloudinaryUrl(images.find((image) => image.public_id.includes('000521640015'))?.public_id)}
            width="600"
            alt=""
            class="absolute top-0 -z-10 h-[100svh] w-full object-cover"
        />
        <div
            class="flex min-h-[100svh] flex-col items-center justify-center bg-black/80 px-4 backdrop-blur"
        >
            <h1 class="text-center text-xl font-bold" style="text-wrap: balance;">The best moments I've captured on film</h1>
            <h2 class="font-medium">
                <a
                    href="https://instagram.com/mediocre_exposures"
                    target="_blank"
                    class="hover:text-red-500"
                >
                    @mediocre_exposures
                </a>
            </h2>
        </div>
        <div
            class="grid grid-flow-dense grid-cols-2 place-items-center gap-2 p-2 sm:grid-cols-3 sm:gap-4 sm:p-4 md:grid-cols-4 md:gap-8 md:p-8 lg:p-16 2xl:grid-cols-5 2xl:gap-16"
        >
            {images.map((image, i) => {
                const optimizedUrl = getOptimizedCloudinaryUrl(image.public_id);

                return (
                    <button
                        x-data="{ shown: false }"
                        x-intersect.once.threshold.50="shown = true"
                        @click={`fullResImgIdx = ${i}; showFullResImage = true;`}
                        class="relative h-full w-full overflow-clip rounded outline-none ring-0 ring-offset-black transition-all duration-500 ease-out focus-visible:scale-105 focus-visible:rounded-3xl focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-2 xl:hover:scale-105 xl:hover:rounded-3xl"
                        class:list={[{'col-span-2': image.width > image.height}]}
                    >
                        <img
                            src={optimizedUrl}
                            alt={image.public_id}
                            class="h-full w-full object-cover transition-all duration-700"
                            :class="shown ? 'opacity-100 translate-y-0' : 'opacity-0 translate-y-1'"
                            loading="lazy"
                        />
                        <div class="sr-only absolute inset-0 grid place-items-center bg-black/50 p-4 text-xs text-white">
                            <span class="break-all">{image.public_id}</span>
                        </div>
                    </button>
                );
            })}
        </div>
        <div
            class="fixed inset-0 z-10 flex flex-col items-center justify-center overflow-hidden bg-black p-8 pb-16"
            x-data="swiper()"
            x-show="showFullResImage"
            x-transition.opacity.duration.500ms
            x-trap.noscroll="showFullResImage"
            @click="showFullResImage = false"
            @keyup.window.esc="showFullResImage = false"
            @keyup.window.left.prevent="prevImg()"
            @keyup.window.right.prevent="nextImg()"
            x-bind="swipeable"
            @swipe-right="prevImg()"
            @swipe-left="nextImg()"
            x-cloak
        >
            <span
                class="absolute m-auto"
                x-show="!fullResImgLoaded[fullResImgIdx]"
                x-transition:enter="transition-opacity delay-1000"
                x-transition:enter-start="opacity-0"
                x-transition:enter-end="opacity-100"
            >
                <div class="animate-pulse px-4 text-center">
                    <div>loading full resolution image</div>
                    <div x-text="'(' + $refs[`fullResImage${fullResImgIdx}`].getAttribute('width') + 'px x ' + $refs[`fullResImage${fullResImgIdx}`].getAttribute('height') + 'px)'"></div>
                </div>
            </span>

            <div class="relative flex h-full w-full items-center justify-center">
                {images.map((image, i) => (
                    <img
                        x-ref={`fullResImage${i}`}
                        src={getFullResCloudinaryUrl(image.public_id)}
                        alt={image.public_id}
                        class="absolute max-h-full w-auto object-contain transition-all duration-500 ease-out"
                        x-show={`fullResImgIdx == ${i}`}
                        @load="console.log('your mom')"
                        @click.stop
                        loading="lazy"
                    />
                ))}
            </div>

            <button
                aria-label="close full resolution preview"
                type="button"
                class="absolute right-2 top-2 h-16 w-16 rounded-2xl text-white outline-none ring-0 ring-white transition hover:bg-white/10 focus-visible:ring-2 lg:right-8 lg:top-8"
            >
                ✕
            </button>

            <div class="absolute bottom-2 grid grid-cols-2 gap-4">
                <button
                    type="button"
                    @click.stop="prevImg()"
                    class="flex items-center justify-center rounded-2xl p-2 pr-4 text-white outline-none ring-0 ring-white transition hover:bg-white/10 focus-visible:ring-2"
                >
                    <Icon name="ic:round-arrow-left" class="h-8 text-2xl transition-transform group-hover:translate-x-1" /> previous
                </button>
                <button
                    type="button"
                    @click.stop="nextImg()"
                    class="flex items-center justify-center rounded-2xl p-2 pl-4 text-white outline-none ring-0 ring-white transition hover:bg-white/10 focus-visible:ring-2"
                >
                    next <Icon name="ic:round-arrow-right" class="h-8 text-2xl transition-transform group-hover:translate-x-1" />
                </button>
            </div>
        </div>

    </section>
</Layout>

<script>
    import Alpine from 'alpinejs'

    Alpine.data('swiper', () => ({
        touchstartX: 0,
        touchexdX: 0,

        checkDirection() {
            if (this.touchendX < this.touchstartX) this.$dispatch('swipe-left')
            if (this.touchendX > this.touchstartX) this.$dispatch('swipe-right')
        },

        swipeable: {
            ['@touchstart.passive'](e) {
                this.touchstartX = e.changedTouches[0].screenX
            },
            ['@touchend.passive'](e) {
                this.touchendX = e.changedTouches[0].screenX
                this.checkDirection()
            },
        },
    }))
</script>
