---
import '@fontsource-variable/azeret-mono';
import Nav from '../components/Nav.astro';
import Footer from '../layouts/Footer.astro';
import faviconLight from '../assets/favicon.svg';
import faviconDark from '../assets/favicon-dark.svg';
import '../styles/tailwind.css';

export interface Props {
    title: string;
}

const { title } = Astro.props;
const devMode = import.meta.env.DEV;
---

<!doctype html>
<html
    lang="en"
    x-data=`{devMode: ${devMode}}`
>
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width"
        />

        <link
            rel="icon"
            type="image/svg+xml"
            href={faviconLight.src}
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href={faviconDark.src}
            media="(prefers-color-scheme: dark)"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href={faviconLight.src}
            media="(prefers-color-scheme: light)"
        />

        <meta
            name="generator"
            content={Astro.generator}
        />
        <title>{title} | Hudson Whittaker</title>
    </head>
    <body
        class="flex min-h-[100svh] flex-col justify-between bg-black text-white selection:bg-red-500/50"
    >
        <Nav />
        <main>
            <slot />
        </main>
        <Footer />
        <script>
            import intersect from '@alpinejs/intersect';
            import collapse from '@alpinejs/collapse';
            import focus from '@alpinejs/focus';
            import Alpine from 'alpinejs';
            Alpine.plugin(intersect);
            Alpine.plugin(collapse);
            Alpine.plugin(focus);
        </script>
        <b
            x-show="devMode"
            class="pointer-events-none fixed bottom-0 left-0 z-10 flex h-12 w-12 items-center justify-center rounded-tr-xl bg-red-500/70 text-center text-white"
        >
            <span class="sm:hidden"> xs</span>
            <span class="hidden sm:inline md:hidden"> sm</span>
            <span class="hidden md:inline lg:hidden"> md</span>
            <span class="hidden lg:inline xl:hidden"> lg</span>
            <span class="hidden xl:inline 2xl:hidden"> xl</span>
            <span class="hidden 2xl:inline"> 2xl</span>
        </b>
    </body>
</html>
